* {
  margin: 0; 
  padding: 0; 
}

table { 
  border-collapse: collapse; 
  border-spacing: 0; 
}

#chessboard { 
  padding: 0px; 
  margin: 0 auto; 
  z-index: 1;

}

#gameboard tr td { 
  width: 100px; 
  height: 100px; 
}

#gameboard tr:nth-child(2n) td:nth-child(2n+1) { 
  background: #f7f993; 
}

#gameboard tr:nth-child(2n+1) td:nth-child(2n) { 
  background: #f7f993; 
} 

.game-square{
	border: 2px solid black;
}

#game-div  {
	position: absolute;
	top: 100px;
	left: 100px;
	width: 1000px;
	border: 10px solid transparent;
	padding: 0px;
	-webkit-border-image: url(../img/gameboard-boarder-1.png) 30% round;
	/* Safari 3.1-5 */
	-o-border-image: url(../img/gameboard-boarder-1.png) 30% round;
	/* Opera 11-12.1 */
	border-image: url(../img/gameboard-boarder-1.png) 30% round;
	
}


#ladder-1{
	/* 28 to 84 */
	z-index: 5;
	position: absolute;
	top: 240px;
	left: 430px;
	
	padding: 0px;
}
#ladder-1-img{
	height: 670px;
	width: 465px;
}



#ladder-2{
/* 71 to 91 */	
	 z-index: 10;
	position: absolute;
	top: 120px;
	left: 975px;
	
	padding: 0px;
}
#ladder-2-img{
	height: 280px;
	width: 160px;
}

#ladder-3{
	/* 80 to 100 for the win */
	z-index: 15;
	position: absolute;
	top: 120px;
	left: 80px;
	
	padding: 0px;
}
#ladder-3-img{
	height: 280px;
	width: 160px;
}

#ladder-4{
	/* 5 to 14 */
	z-index: 20;
	position: absolute;
	top: 940px;
	left: 470px;
	padding: 0px;
}
#ladder-4-img{
	height: 180px;
	width: 280px;
}
#ladder-5{
	/* 1 to 38 */
	z-index: 25;
	position: absolute;
	top: 780px;
	left: 130px;
	padding: 0px;
}
#ladder-5-img{
	height: 300px;
	width: 240px;
}
#ladder-6{

	z-index: 30;
	position: absolute;
	top: 780px;
	left: 900px;
	padding: 0px;
}
#ladder-6-img{
	height: 300px;
	width: 200px;
}
#ladder-7{

	z-index: 35;
	position: absolute;
	top: 660px;
	left: 130px;
	padding: 0px;
}
#ladder-7-img{
	height: 220px;
	width: 150px;
}
#ladder-8{

	z-index: 40;
	position: absolute;
	top: 680px;
	left: 450px;
	padding: 0px;
}
#ladder-8-img{
	height: 120px;
	width: 130px;
}

#ladder-9{
	z-index: 45;
	position: absolute;
	top: 475px;
	left: 750px;
	padding: 0px;
}
#ladder-9-img{
	height: 150px;
	width: 350px;
}